{% extends 'student/student_base.html' %}
{% block content %}

<h2 class="fw-bold">Available Placement Drives</h2>
<p class="text-muted">Browse and apply to opportunities</p>

{% for drive in drives %}
<div class="card p-4 mb-4 shadow-sm">

    <h5 class="fw-bold">{{ drive.job_title }}</h5>
    <p class="text-muted mb-1">{{ drive.company.company_name }}</p>

    <p>Eligibility: {{ drive.eligibility }}</p>
    <p>Deadline: {{ drive.application_deadline }}</p>

    {% if drive.id in applied_drive_ids %}
        <!-- ALREADY APPLIED -->
        <button class="btn btn-secondary w-100" disabled>
            ✔ Applied
        </button>
    {% else %}
        <!-- APPLY -->
        <a href="{{ url_for('apply_drive', drive_id=drive.id) }}"
           class="btn btn-success w-100">
            Apply Now
        </a>
    {% endif %}

</div>
{% endfor %}

{% endblock %}
